
@font-face{
	font-family: 'Abeezee';
	src: url('./fonts/abeezee-regular.woff') format('woff');
	src: url('./fonts/abeezee-regular.eot') format('eot');
	src: url('./fonts/abeezee-regularr.svg') format('svg');
	
}
body {
	margin: 0;
	font-family: 'Abeezee', sans-serif;
}

header {
	background: grey;
	color: white;
}

header h1 {
	display:block;
	margin:0px;
    font-size:30px;
    padding-left: 10px;
    opacity: 1;
    transition: opacity 2s linear;
}
header h1:hover{
	opacity: 0;
}
header nav ul li {
	font-family: 'Oswald', sans-serif;
	display: inline-block;
	list-style: none;
	margin-right: 20px;
}

header h1,
header nav {
	   vertical-align: middle;
	   display: inline-block;
}

nav ul li {
	display: inline-block;
	padding: 25px;
}

nav ul li a {
	color: white;
	text-decoration:none;
}

section {
	margin:auto;
	text-align: center;
   }

 section img {
	padding:40px;
	opacity: 1;
	transition: all 1s linear;
   }
   section img:hover{
   	opacity: 0;
   	padding-bottom: 90px;
   }

 section p a {
 	color: #1abc9c;
 	text-decoration: none;
 }
 section p{
 	opacity: 2;
 	transition: all 1s linear;
 }
 section p:hover{
 	opacity: 0;
 	padding-left: 20px;
 }
 header nav ul li a{
 	opacity: 1;
 	transition: all 1s linear;
 }
 header nav ul li a:hover{
 	color: blue;
 }

 footer h3{
 	position: absolute;
 	margin-top: 100px;
 }
 #Caja{
 	width: 200px;
 	height: 100px;
 	margin: 0 auto;
 	background-color: #ccc;
 	transition-duration:1s;
 }
 div:hover{
 	transform: scale(1.2);
 	transform: rotate(-360deg);
 	-webkit-transform: scale(1.2);
 	-moz-transform: scale(1.2);
 	-ms-transform: scale(1.2);
 	-o-transform: scale(1.2);
 	-webkit-transform: rotate(-360deg);
 	-moz-transform: rotate(-360deg);
 	-ms-transform: rotate(-360deg);
 	-o-transform: rotate(-360deg);
 }
.AnimacionColor{
  -webkit-animation:AnimacionFondo 3s infinite;
  -moz-animation:AnimacionFondo 3s infinite;
  -ms-animation:AnimacionFondo 3s infinite;
  -o-animation:AnimacionFondo 3s infinite;
	animation: AnimacionFondo 3s infinite;
}
@-webkit-keyframes AnimacionFondo {
    0% { background: blue;}
    25% { background: yellow;}	
   50% { background: red;}
   75% { background: black;}		
  100% { background: green;}	
}
@-moz-keyframes AnimacionFondo {
    0% { background: blue;}
    25% { background: yellow;}	
   50% { background: red;}
   75% { background: black;}		
  100% { background: green;}	
}
@-ms-keyframes AnimacionFondo {
    0% { background: blue;}
    25% { background: yellow;}	
   50% { background: red;}
   75% { background: black;}		
  100% { background: green;}	
}
@-o-keyframes AnimacionFondo {
    0% { background: blue;}
    25% { background: yellow;}	
   50% { background: red;}
   75% { background: black;}		
  100% { background: green;}	
}
.AnimacionTexto{

	-webkit-animation: SegundaAnimacion 4s infinite;
	-moz-animation:AnimacionFondo 4s infinite;
	-ms-animation:AnimacionFondo 4s infinite;
	-o-animation:AnimacionFondo 4s infinite;
    animation: SegundaAnimacion 4s infinite;
}
@-webkit-keyframes SegundaAnimacion {
	0% {margin-top: 15%;}
	100% {margin-top: 10%;}
}
@-moz-keyframes SegundaAnimacion {
	0% {margin-top: 15%;}
	100% {margin-top: 10%;}
}
@-ms-keyframes SegundaAnimacion {
	0% {margin-top: 15%;}
	100% {margin-top: 10%;}
}
@-o-keyframes SegundaAnimacion {
	0% {margin-top: 15%;}
	100% {margin-top: 10%;}
}
@keyframes SegundaAnimacion {
	0% {margin-top: 15%;}
	100% {margin-top: 10%;}
}
